In [ ]:
# Problem 1: Unique Words in a Sentence

# Taking input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting list to set to remove duplicates
unique_words = set(words)

# Printing results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'is', 'python', 'powerful', 'easy'}

In [ ]:
# Problem 2: Highest Salary from Employee Data

# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Finding employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Display result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [ ]:
# Problem 3: Find Maximum and Minimum Values

# Input list
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Display results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [ ]:
# Problem 4: Count Products Above a Price Threshold

# Input list
prices = [450, 1200, 899, 1500, 300]

# Initialize counter
count = 0

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

# Display result
print("Products above 1000:", count)

Products above 1000: 2

In [ ]:
# Problem 5: Calculate Attendance Percentage

# Input list
attendance = ["P", "P", "A", "P", "P"]

# Count total days
total_days = len(attendance)

# Count number of present days
present_days = 0

for status in attendance:
    if status == "P":
        present_days += 1

# Calculate percentage
attendance_percentage = (present_days / total_days) * 100

# Display result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [ ]:
# Problem 6: Remove Duplicate Phone Numbers

# Input list
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Display result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [1]:
# Problem 7: Count Character Frequency

# Input string
text = "pythonp"

# Create empty dictionary
char_count = {}

# Loop through each character in the string
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
# Problem 8: Convert List to Tuple

# Input list
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [ ]:
# Problem 9: Check if a Key Exists in a Dictionary

# Sample dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [ ]:
# Problem 10: Calculate Average Marks

# Input list of marks
marks = [70, 75, 80, 65]

# Calculate total marks
total = sum(marks)

# Calculate number of subjects
count = len(marks)

# Calculate average
average = total / count

# Display result
print("Average Marks:", average)

Average Marks: 72.5